/* ================================= 
  Main
==================================== */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-image: linear-gradient(var(--900), var(--black) 25%);
    color: var(--white);
}

h1, 
h2, 
h3 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--400);
}

    a:visited {
        color: var(--400);
    }

    a:hover {
        color: var(--orange);
    }

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.sectionTitle {
    font-size: 2em;
    text-transform: uppercase;
}

/* ================================= 
Navigation
==================================== */
header {
    margin-bottom: 10%;
}

.name {
	font-size: 3em;
}

    .name a {
        color: var(--white);
    }

/* Pulsing Animation on cursor after name */
.pulse {
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.15;
    }
}

.nav a {
	font-size: .9em;
}

/* ================================= 
About
==================================== */
#about {
    margin-bottom: 50%;
}

.profilePic {
    max-width: 200px;
    margin: 0 auto;
}

#about h2 {
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px var(--black);
}

#about h3 {
    text-transform: uppercase;
    font-size: 1.2em;
}

/* ================================= 
Work
==================================== */
#work {
    margin-bottom: 50%;
}

/* ================================= 
Skills
==================================== */
#skills {
    margin-bottom: 50%;
}

#skills h2 {
    margin-bottom: 20%;
}

h3 {
    font-weight: 400;
    font-size: 1.5em;
}

.skillContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    grid-gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 15%;
}

.skillItem img {
    margin: 0 auto;
    max-width: 50px;
    filter: invert(100%);
}

/* Download Resume Button */
.downloadResume {
    position: relative;
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 80%;
    font-family: 'Roboto Mono', monospace;
    width: 12rem;
}

.downloadResume .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    display: block;
    width: 3rem;
    height: 3rem;
    background: var(--teal);
    border-radius: 1.625rem;
}

.downloadResume .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.downloadResume .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.downloadResume .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--black);
    border-right: 0.125rem solid var(--black);
    transform: rotate(45deg);
}

.downloadResume .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--teal);
    line-height: 1.9;
}

.downloadResume:hover .circle {
    width: 100%;
    background: var(--orange);
}

.downloadResume:hover .circle .icon.arrow {
    background: var(--black);
    transform: translate(1rem, 0);
}
.downloadResume:hover .button-text {
    color: var(--black);
}

/* ================================= 
Contact
==================================== */
#contact {
    margin-bottom: 50%;
}

input, textarea {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#contact button {
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--teal);
    font-weight: 400;
    margin-top: 15px;
}

#contact:hover button {
    background-color: var(--orange);
}


/* ================================= 
Footer
==================================== */
.footer {
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

.footer,
.footerContainer {
    display: flex;
}

.footerName {
	font-size: 1em;
}

.footerName a, .footerContainer a {
	display: block;
}

.footerContainer a {
	font-size: 1em;
	text-transform: uppercase;
}

.footerName a,
.footerContainer a {
    color: var(--white);
}

.footerName a:hover,
.footerContainer a:hover {
    color: var(--orange);
}

/* ================================= 
Media Queries
==================================== */
@media screen and (min-width: 768px) {

    /* Footer
    .footerSmall {
        display: none;
    }

    .footerLarge {
        display: initial;
        padding: 0 10px;
    } */
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1025px) {

}