/* ================================= 
  Main
==================================== */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-weight: 400;
    background-image: linear-gradient(var(--900), var(--black) 25%);
    color: var(--white);
}

a {
    text-decoration: none;
    color: var(--400);
}

    a:visited {
        color: var(--400);
    }

    a:hover {
        color: var(--orange);
    }

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.sectionTitle {
    font-size: 2em;
    text-transform: uppercase;
}

/* ================================= 
Navigation
==================================== */
.name {
	font-size: 3em;
    font-weight: 700;
}

    .name a {
        color: var(--white);
    }

/* Pulsing Animation on cursor after name */
    .pulse {
        animation: pulse 1s ease-in-out infinite;
    }

    @keyframes pulse {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0.15;
        }
    }

.nav a {
	font-size: .9em;
}

/* ================================= 
About
==================================== */
.profilePic {
    max-width: 200px;
    margin: 0 auto;
}

#about h2 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 3px 3px 3px var(--black);
}

#about p {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em;
}

/* ================================= 
Work
==================================== */


/* ================================= 
Skills
==================================== */
h3 {
    font-weight: 400;
    font-size: 1.5em;
}

.skillContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    grid-gap: 20px;
    justify-content: space-evenly;
}

.skillItem img {
    margin: 0 auto;
    max-width: 50px;
    filter: invert(100%);
}

/* ================================= 
Contact
==================================== */
input, textarea {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--teal);
    font-weight: 400;
    margin-top: 15px;
}

button:hover {
    background-color: var(--orange);
}

/* ================================= 
Footer
==================================== */
.footer {
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

.footer,
.footerContainer {
    display: flex;
}

.footerName {
	font-size: 1em;
}

.footerName a, .footerContainer a {
	display: block;
}

.footerContainer a {
	font-size: 1em;
	text-transform: uppercase;
}

.footerName a,
.footerContainer a {
    color: var(--white);
}

.footerName a:hover,
.footerContainer a:hover {
    color: var(--orange);
}

/* ================================= 
Media Queries
==================================== */
@media screen and (min-width: 768px) {
    /* Flex */
    .header,
    .nav, 
    .about, 
    .work {
        display: flex;
    }

    /* Navigation */
    .header {    
        flex-direction: column;
		align-items: center;
    }

    .nav a {
        background: none;
        padding: 0px 15px;
    }

    /* About */
    .about {
        flex-direction: column;
    }

    .profilePic {
        max-width: 300px;
    }


    /* Work */
    .work {
        flex-wrap: wrap;
        flex-direction: row;
        padding: 20px 30px;
    }

    .work img {
        max-width: 75%;
        margin: 0 auto;
    }

    .workItem {
		flex: 1 1 40%;
        display: inline-block;
	}

    .workItem:first-child {
        flex: 1 1 100%;
    }

    .workItem p {
        width: 300px;
    }

    /* Skills */
    .skills {
        flex-wrap: wrap;
        flex-direction: row;
        padding: 20px 5%;
    }

    .skillItem {
		flex: 1 1 20%;
        display: inline-block;
	}

    .skillItem img {
        max-width: 70px;
    }

    /* Contact */
    .formContainer {
        width: 75%;
        margin: 0 auto;
    }

    label {
        margin: 10%;
    }

    /* Footer */
    .footerSmall {
        display: none;
    }

    .footerLarge {
        display: initial;
        padding: 0 10px;
    }
}

@media screen and (min-width: 1024px) {
    /* Navigation */
    .header {
        flex-direction: row;
		justify-content: space-between;
        padding: 0 5%;

    }

    .name {
        padding-left: 10px;
    }

    /* About */
    .about {
        padding: 30px 5%;
        margin-bottom: 100px;
    }

    .about h2 {
        font-size: 4em;
        margin: 0;
    }

    .about p {
        font-size: 2em;
        margin: 0;
    }

    .profilePic {
        max-width: 400px;
    }

    /* Work */
    .work {
        padding: 20px 5%;
    }

    .workItem {
		flex-basis: 0;
	}

    .work img {
        max-width: 50%;
    }

    /* Contact */
    input, textarea {
        max-width: 690px;
    }

    /* Footer */
    .footer {
        padding: 20px 5%;
    }
}

@media screen and (min-width: 1025px) {
    body {
        margin: 0 auto;
    }
}